go 1.26

use (
	./services/auth-server
	./services/authorization-policy-service
	./services/client-registry-service
	./services/example-resource-service
	./services/identity-service
	./services/login-ui
	./services/token-introspection-service
	./test/acceptance
)
